@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 20px;
    font-family: 'Libre Franklin', sans-serif;
}

.container {
    display: grid;
    place-items: center;
    margin: 4rem 0 0;
    width: 100%;
}

h3 {
    margin: 3rem 0 1.5rem;
    font-weight: 300;
    font-size: 2.5rem;
    color: hsl(0, 0%, 59%);
}

span {
    color: #000;
    font-weight: 700;
}

p {
    margin: 0 0 1.5rem;
    color: hsl(209, 33%, 12%);
}

form {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

input {
    padding: 12px 50px;
    border-radius: 30px;
    border: 1px solid hsl(223, 87%, 63%);
    /* color: gray; */
    font-size: 16px;
    outline: none;
}

button {
    padding: 12px 50px;
    margin: 0 1rem;
    border-radius: 30px;
    outline: none;
    background-color: hsl(223, 87%, 63%);
    box-shadow: 1px 1px 5px hsl(225, 79%, 63%);
    border: none;
    color: #fff;
    cursor: pointer;
}
button:hover{
    transition: 0.3s;
    background-color: hsl(223, 81%, 69%);
    
}

.err-msg {
    font-weight: 100;
    font-size: 13px;
    margin: 0 0 3rem;
    color: hsl(354, 100%, 66%);
}

.dashboard-img {
    margin: 2rem 0 3rem;
    width: 35%;
}

i{
    font-size: 25px;
    margin: 2.5rem 10px 30px;
    color:hsl(0, 0%, 0%);
}
i:hover{
    transition: 0.3s;
    color: hsl(223, 87%, 63%);
}
footer{
    font-size: 12px;
    margin: 0 0 2rem;
}

/* Tablet - view */

@media screen and (max-width:768px) {
    .dashboard-img {
        margin: 2rem 0 3rem;
        width: 80%;
    }
}

/* Mobile - view */

@media screen and (max-width:375px) {
    .container {
        display: flex;
        flex-direction: column;
        margin: 4rem 0;
        width: 100%;
    }
    
    h3 {
        margin: 3rem 0 1.5rem;
        font-weight: 300;
        font-size: 2rem;
        color: hsl(0, 0%, 59%);
    }
    
    span {
        color: #000;
        font-weight: 700;
    }
    
    p {
        margin: 0 0 1.5rem;
        color: hsl(209, 33%, 12%);
    }
    
    form {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
    
    input {
        margin: 20px 0;
        padding: 12px 50px;
        border-radius: 30px;
        border: 1px solid hsl(223, 87%, 63%);
        font-size: 16px;
        outline: none;
    }
    
    button {
        padding: 12px 50px;
        margin: 0 1rem;
        border-radius: 30px;
        outline: none;
        background-color: hsl(223, 87%, 63%);
        box-shadow: 1px 1px 5px hsl(225, 79%, 63%);
        border: none;
        color: #fff;
        cursor: pointer;
    }
    button:hover{
        transition: 0.3s;
        background-color: hsl(223, 81%, 69%);
    }
    
    .err-msg {
        font-weight: 100;
        font-size: 13px;
        margin: 0 0 3rem;
        color: hsl(354, 100%, 66%);
    }
    
    .dashboard-img {
        margin: 2rem 0 3rem;
        width: 80%;
    }
    
    i{
        font-size: 25px;
        margin: 2.5rem 10px 30px;
        color:hsl(0, 0%, 0%);
    }
    i:hover{
        transition: 0.3s;
        color: hsl(223, 87%, 63%);
    }
    footer{
        font-size: 12px;
        margin: 0 0 2rem;
    }
}

@media screen and (max-width:425px) {
    .container {
        display: flex;
        flex-direction: column;
        margin: 4rem 0;
        width: 100%;
    }
    
    h3 {
        margin: 3rem 0 1.5rem;
        font-weight: 300;
        font-size: 2rem;
        color: hsl(0, 0%, 59%);
    }
    
    span {
        color: #000;
        font-weight: 700;
    }
    
    p {
        margin: 0 0 1.5rem;
        color: hsl(209, 33%, 12%);
    }
    
    form {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
    
    input {
        margin: 20px 0;
        padding: 12px 50px;
        border-radius: 30px;
        border: 1px solid hsl(223, 87%, 63%);
        font-size: 16px;
        outline: none;
    }
    
    button {
        padding: 12px 50px;
        margin: 0 1rem;
        border-radius: 30px;
        outline: none;
        background-color: hsl(223, 87%, 63%);
        box-shadow: 1px 1px 5px hsl(225, 79%, 63%);
        border: none;
        color: #fff;
        cursor: pointer;
    }
    button:hover{
        transition: 0.3s;
        background-color: hsl(223, 81%, 69%);
    }
    
    .err-msg {
        font-weight: 100;
        font-size: 13px;
        margin: 0 0 3rem;
        color: hsl(354, 100%, 66%);
    }
    
    .dashboard-img {
        margin: 2rem 0 3rem;
        width: 80%;
    }
    
    i{
        font-size: 25px;
        margin: 2.5rem 10px 30px;
        color:hsl(0, 0%, 0%);
    }
    i:hover{
        transition: 0.3s;
        color: hsl(223, 87%, 63%);
    }
    footer{
        font-size: 12px;
        margin: 0 0 2rem;
    }
}

@media screen and (max-width:320px) {
    .container {
        display: flex;
        flex-direction: column;
        margin: 4rem 0;
        width: 100%;
    }
    
    h3 {
        margin: 3rem 20px 1.5rem;
        font-weight: 300;
        font-size: 2rem;
        color: hsl(0, 0%, 59%);
    }
}
